.post{
    width: 385px;
    margin: 0px 25px 40px 25px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.postImage{
    border-radius: 7px;
    height: 280px;
    width: 100%;
    object-fit: cover;
}

.postTitle{
    font-size: 20px;
    font-weight: 600px;
    margin: 10px 0px;
    font-style: italic;
    text-align: center;
    color: #333;
    cursor: pointer;
    text-decoration: none;
}

.postInformation{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postCategory{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #555;
    text-align: center;
    margin: 5px 0px;
}

.postDate{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #555;
    margin: 5px 0px;
    font-style: italic;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.postDescription{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: black;
    text-align: center;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: justify;
}